
#forecast .list-group-item {
  cursor: pointer;
}

/* default */
div.chart-wrapper {
  position: relative;
  height: 40vh;
}

/* desktops, portrait phones */
@media (min-width: 768px) {
  div.chart-wrapper {
    position: relative;
    height: 40vh;
  }
}

/* horizontal phones */
@media (max-height: 767.98px) {
  div.chart-wrapper {
    position: relative;
    height: 100vh;
  }
}
